.container {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: 280px;
    /* Sidebar width */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bg-app);
}

.content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}